@model IEnumerable<Versiones4GL.Common.Models.Station>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Garum.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maccliente.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Macserver.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mpeccliente.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xad.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameStation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Garum.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maccliente.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Macserver.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mpeccliente.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xad.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameStation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StationId })
        </td>
    </tr>
}

</table>
